nav {
  height: 64px;
  background-color: #4db6ac;
}

.footer {
  background-color: #4db6ac;
  color: white;
}

.moren {
  background-color: #4db6ac;
}

.moren:hover {
  background-color: #4db6ac;
  opacity: 0.7;
}
