nav {
  height: 64px;
  background-color: #4db6ac;
}

.footer {
  background-color: #4db6ac;
  color: black;
}

.moren {
  border-color: #4db6ac;
  background-color: #4db6ac;
}

.moren:hover {
  background-color: #4db6ac;
  opacity: 0.7;
}

.matshadow {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.3);
}
